body {
  margin: 0px;
  font-family: 'Poppins';
  font-size: medium;
  background-color: #F2CBE0;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  line-height: 1.0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
}

h1{
  font-size: 10px;
}

#aumentarFont {
  color: black;
  background-color: #9085BC;
  font-family: 'Poppins';
  border-radius: 20px;
}

#diminuirFont {
  color: black;
  background-color: #9085BC;
  font-family: 'Poppins';
  border-radius: 20px;
}

#altocontraste {
  color: black;
  background-color: #9085BC;
  font-family: 'Poppins';
  border-radius: 20px;
}

#restaurarcontraste {
  color: black;
  background-color: #9085BC;
  font-family: 'Poppins';
  border-radius: 20px;
}

#leitordetela {
  color: black;
  background-color: #9085BC;
  font-family: 'Poppins';
  border-radius: 20px;
}

button:hover, button:focus {
  background-color: #9085BC;
  outline: 2px solid white;
}

button {
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .controles-acessibilidade {
    flex-direction: column;
  }
}

button[aria-pressed="true"] {
  background-color: var(--cor-secundaria);
}

